<h1>Listing Projects</h1>

<table class="subs">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Hours</th>
    <th>Minutes</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.text %></td>
      <td><%= project.hoursleft %></td>
      <td><%= project.minutesleft %></td>
      <% if current_user %>
      <td><%= link_to "Show", project_path(project) %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %></td>
      <% end %>
  <% end %>
</table>

<%= link_to "New Project", new_project_path %>
